In [1]:
import sqlalchemy as sa
import pyodbc
import pandas as pd

In [2]:
# Establishing the connection
connection_string = 'DRIVER={SQL server};SERVER=dap-projects-database.database.windows.net;DATABASE=dapDB;UID=dataAnalyst_LP2;PWD=A3g@3kR$2y'
engine = sa.create_engine(f'mssql+pyodbc:///?odbc_connect={connection_string}')

In [3]:
# Creating a connection
connection = engine.connect()

In [5]:
# Executing a simple query
query = "SELECT * FROM dbo.LP2_Telco_churn_first_3000"
result = connection.execute(query)

In [6]:
# Fetching all the rows from the result set into a Pandas DataFrame
df = pd.DataFrame(result.fetchall(), columns=result.keys())

In [7]:
# Printing the DataFrame
print(df)

              customerID  gender  SeniorCitizen  Partner  Dependents  tenure  \
0             7590-VHVEG  Female          False     True       False       1
1             5575-GNVDE    Male          False    False       False      34
2             3668-QPYBK    Male          False    False       False       2
3             7795-CFOCW    Male          False    False       False      45
4             9237-HQITU  Female          False    False       False       2
...                  ...     ...            ...      ...         ...     ...
2995          2209-XADXF  Female          False    False       False       1
2996          6620-JDYNW  Female          False    False       False      18
2997          1891-FZYSA    Male           True     True       False      69
2998          4770-UEZOX    Male          False    False       False       2
2999  1A1:U3001038-RQOST    Male          False     True        True      19

      PhoneService MultipleLines InternetService OnlineSecurity  ...  \
0            False          None             DSL          False  ...
1             True         False             DSL           True  ...
2             True         False             DSL           True  ...
3            False          None             DSL           True  ...
4             True         False     Fiber optic          False  ...
...            ...           ...             ...            ...  ...
2995         False          None             DSL          False  ...
2996          True          True             DSL           True  ...
2997          True          True     Fiber optic          False  ...
2998          True         False     Fiber optic          False  ...
2999          True         False              No           None  ...

     DeviceProtection TechSupport StreamingTV StreamingMovies        Contract  \
0               False       False       False           False  Month-to-month
1                True       False       False           False        One year
2               False       False       False           False  Month-to-month
3                True        True       False           False        One year
4               False       False       False           False  Month-to-month
...               ...         ...         ...             ...             ...
2995            False       False       False           False  Month-to-month
2996             True       False       False           False  Month-to-month
2997            False       False        True           False  Month-to-month
2998            False       False       False           False  Month-to-month
2999             None        None        None            None  Month-to-month

     PaperlessBilling              PaymentMethod MonthlyCharges  TotalCharges  \
0                True           Electronic check      29.850000     29.850000
1               False               Mailed check      56.950001   1889.500000
2                True               Mailed check      53.849998    108.150002
3               False  Bank transfer (automatic)      42.299999   1840.750000
4                True           Electronic check      70.699997    151.649994
...               ...                        ...            ...           ...
2995            False  Bank transfer (automatic)      25.250000     25.250000
2996             True               Mailed check      60.599998   1156.349976
2997             True           Electronic check      89.949997   6143.149902
2998             True           Electronic check      74.750000    144.800003
2999            False               Mailed check      20.600000    414.950012

      Churn
0     False
1     False
2      True
3     False
4      True
...     ...
2995  False
2996  False
2997   True
2998  False
2999  False

[3000 rows x 21 columns]

In [8]:
# Closing the connection
connection.close()
engine.dispose()

In [9]:
df.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,False,True,False,1,False,None,DSL,False,...,False,False,False,False,Month-to-month,True,Electronic check,29.850000,29.850000,False
1,5575-GNVDE,Male,False,False,False,34,True,False,DSL,True,...,True,False,False,False,One year,False,Mailed check,56.950001,1889.500000,False
2,3668-QPYBK,Male,False,False,False,2,True,False,DSL,True,...,False,False,False,False,Month-to-month,True,Mailed check,53.849998,108.150002,True
3,7795-CFOCW,Male,False,False,False,45,False,None,DSL,True,...,True,True,False,False,One year,False,Bank transfer (automatic),42.299999,1840.750000,False
4,9237-HQITU,Female,False,False,False,2,True,False,Fiber optic,False,...,False,False,False,False,Month-to-month,True,Electronic check,70.699997,151.649994,True

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        3000 non-null   object
 1   gender            3000 non-null   object
 2   SeniorCitizen     3000 non-null   bool
 3   Partner           3000 non-null   bool
 4   Dependents        3000 non-null   bool
 5   tenure            3000 non-null   int64
 6   PhoneService      3000 non-null   bool
 7   MultipleLines     2731 non-null   object
 8   InternetService   3000 non-null   object
 9   OnlineSecurity    2349 non-null   object
 10  OnlineBackup      2349 non-null   object
 11  DeviceProtection  2349 non-null   object
 12  TechSupport       2349 non-null   object
 13  StreamingTV       2349 non-null   object
 14  StreamingMovies   2349 non-null   object
 15  Contract          3000 non-null   object
 16  PaperlessBilling  3000 non-null   bool
 17  PaymentMethod     3000 non-null   object
 18  MonthlyCharges    3000 non-null   float64
 19  TotalCharges      2995 non-null   float64
 20  Churn             2999 non-null   object
dtypes: bool(5), float64(2), int64(1), object(13)
memory usage: 389.8+ KB

In [21]:
df1 = pd.read_csv('C:\\Users\\X1 CARBON\\Desktop\\Edinburgh-LP2\\Classification-Project-Customer-Attrition-Case\\LP2_Telco-churn-last-2000.csv')

In [22]:
df1.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,5600-PDUJF,Male,0,No,No,6,Yes,No,DSL,No,...,No,Yes,No,No,Month-to-month,Yes,Credit card (automatic),49.50,312.7,No
1,8292-TYSPY,Male,0,No,No,19,Yes,No,DSL,No,...,Yes,Yes,No,No,Month-to-month,Yes,Credit card (automatic),55.00,1046.5,Yes
2,0567-XRHCU,Female,0,Yes,Yes,69,No,No phone service,DSL,Yes,...,Yes,No,No,Yes,Two year,Yes,Credit card (automatic),43.95,2960.1,No
3,1867-BDVFH,Male,0,Yes,Yes,11,Yes,Yes,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,74.35,834.2,Yes
4,2067-QYTCF,Female,0,Yes,No,64,Yes,Yes,Fiber optic,No,...,Yes,Yes,Yes,Yes,Month-to-month,Yes,Electronic check,111.15,6953.4,No

In [24]:
print(df1)

      customerID  gender  SeniorCitizen Partner Dependents  tenure  \
0     5600-PDUJF    Male              0      No         No       6
1     8292-TYSPY    Male              0      No         No      19
2     0567-XRHCU  Female              0     Yes        Yes      69
3     1867-BDVFH    Male              0     Yes        Yes      11
4     2067-QYTCF  Female              0     Yes         No      64
...          ...     ...            ...     ...        ...     ...
2038  6840-RESVB    Male              0     Yes        Yes      24
2039  2234-XADUH  Female              0     Yes        Yes      72
2040  4801-JZAZL  Female              0     Yes        Yes      11
2041  8361-LTMKD    Male              1     Yes         No       4
2042  3186-AJIEK    Male              0      No         No      66

     PhoneService     MultipleLines InternetService OnlineSecurity  ...  \
0             Yes                No             DSL             No  ...
1             Yes                No             DSL             No  ...
2              No  No phone service             DSL            Yes  ...
3             Yes               Yes     Fiber optic             No  ...
4             Yes               Yes     Fiber optic             No  ...
...           ...               ...             ...            ...  ...
2038          Yes               Yes             DSL            Yes  ...
2039          Yes               Yes     Fiber optic             No  ...
2040           No  No phone service             DSL            Yes  ...
2041          Yes               Yes     Fiber optic             No  ...
2042          Yes                No     Fiber optic            Yes  ...

     DeviceProtection TechSupport StreamingTV StreamingMovies        Contract  \
0                  No         Yes          No              No  Month-to-month
1                 Yes         Yes          No              No  Month-to-month
2                 Yes          No          No             Yes        Two year
3                  No          No          No              No  Month-to-month
4                 Yes         Yes         Yes             Yes  Month-to-month
...               ...         ...         ...             ...             ...
2038              Yes         Yes         Yes             Yes        One year
2039              Yes          No         Yes             Yes        One year
2040               No          No          No              No  Month-to-month
2041               No          No          No              No  Month-to-month
2042              Yes         Yes         Yes             Yes        Two year

     PaperlessBilling              PaymentMethod MonthlyCharges  TotalCharges  \
0                 Yes    Credit card (automatic)          49.50         312.7
1                 Yes    Credit card (automatic)          55.00        1046.5
2                 Yes    Credit card (automatic)          43.95        2960.1
3                 Yes           Electronic check          74.35         834.2
4                 Yes           Electronic check         111.15        6953.4
...               ...                        ...            ...           ...
2038              Yes               Mailed check          84.80        1990.5
2039              Yes    Credit card (automatic)         103.20        7362.9
2040              Yes           Electronic check          29.60        346.45
2041              Yes               Mailed check          74.40         306.6
2042              Yes  Bank transfer (automatic)         105.65        6844.5

     Churn
0       No
1      Yes
2       No
3      Yes
4       No
...    ...
2038    No
2039    No
2040    No
2041   Yes
2042    No

[2043 rows x 21 columns]

In [26]:
df_train= pd.concat([df,df1])
df_train.to_csv('Attrition_A.csv')

In [27]:
df.shape

(3000, 21)

In [28]:
df1.shape

(2043, 21)

In [30]:
df_train.shape

(5043, 21)

In [31]:
df_train.isna().sum()

customerID            0
gender                0
SeniorCitizen         0
Partner               0
Dependents            0
tenure                0
PhoneService          0
MultipleLines       269
InternetService       0
OnlineSecurity      651
OnlineBackup        651
DeviceProtection    651
TechSupport         651
StreamingTV         651
StreamingMovies     651
Contract              0
PaperlessBilling      0
PaymentMethod         0
MonthlyCharges        0
TotalCharges          5
Churn                 1
dtype: int64